
.navbar {
	position: absolute;
	width: 100%;
	top: 0px;
}

#history {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 41px;
	bottom: 5em;
	overflow: none;
}

form {
	margin: 0px;
	padding: 0px;
}

#chatHistory {
	overflow-y: scroll;
	height: 100%;
	padding: 1em;
}

#type button {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 5em;
}

#type input {
	position: absolute;
	bottom: 0px;
	right: 0em;
	left: 0em;
	height: 2em;
	width: auto;
	margin: 0px;
	padding: 0.5em;
	padding-right: 5em;
}

#wicketDebugLink {
	top: 0px;
	height: 1em;
}
