
.navbar {
	position: absolute;
	width: 100%;
	top: 0px;
}

#history {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 41px;
	bottom: 7em;
	overflow: none;
}

form {
	margin: 0px;
	padding: 0.5em;
	padding-left: 1.0em;
	padding-right: 6.5em;
	position: absolute;
	bottom: 0px;
	right: 0em;
	left: 0em;
	height: 3em;
}

#chatHistory {
	overflow-y: scroll;
	height: 100%;
	padding: 1em;
}

#type button {
	position: absolute;
	right: 1em;
}

#type input {
	float: left;
	margin: 0px;
	padding: 0.5em;
	margin: -0.5em;
	margin-top: -1em;
	width: 100%;
	height: 100%;
}

#wicketDebugLink {
	top: 0px;
	height: 1em;
	display: none;
}

.l1 {
	color: white;
}

.l2 {
	color: pink;
}

.l3 {
	color: yellow;
}

.l4 {
	color: lightgreen;
}

.l5 {
	color: orange;
}

.l6  {
	color: lightblue;
}

.l7 {
	color: yellow;	
}
